body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}
#app{
    width:600px;
    background-color: rgb(248, 231, 200);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    padding: 10px;
}
#container{
    width: 300px;
    padding-top: 10px;
}
input{
    margin:5px;
    margin-left: 0px;
}
#table, #temptable{


    width: 99%;
}
#table, #temptable,tr,td{
    padding: 5px;
    border: 2px solid black;
    border-collapse: collapse;
}